<%= render "layouts/sidebar.html.erb" %>

<div class="content-container">
    <div class="content">
        <!--<div class="action-container">-->
            <!--<%= form_tag(:new_group, method: "GET") do %>-->
                <!--<input id="add_group" class="button" type="submit" value="+ add group"/>-->
            <!--<% end %>-->
        <!--</div>-->
      <% if flash[:notice] %>
          <div id="warning">
            Error: <%= flash.notice %>
          </div>
      <% end %>
      <br>
        <%= form_tag(:groups_destroy_multiple, method: "POST") do %>
            <div class="table-container">
                <% @groups.each do |group| %>
                <% @group = group %>
                <div class="group-module">
                    <div class="group-module-header">
                        <h1>
                            <span class="delete-checkbox"><%= check_box_tag("delete[#{group.id}]", "1") %></span>
                            <%= link_to(group.group_name, "/groups/" + group.id.to_s) %>
                        </h1>
                    </div>
                    <div class="group-module-body">
                        <table id="group_table">
                            <tr>
                                <th><h2>Members</h2></th>
                                <th><h2>Preferences</h2></th>
                            </tr>
                            <tr>
                                <td>
                                  <li><%= @group.username %></li>
                                </td>
                                <td>
                                    <ol>
                                        <li><%= choice_str :first_choice %></li>
                                        <li><%= choice_str :second_choice %></li>
                                        <li><%= choice_str :third_choice %></li>
                                        <li><%= choice_str :fourth_choice %></li>
                                        <li><%= choice_str :fifth_choice %></li>
                                        <li><%= choice_str :sixth_choice %></li>
                                        <li><%= choice_str :seventh_choice %></li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="action-container">
                <input id="delete_group" class="button red" type="submit" value="delete selected groups"/>
            </div>
        <% end %>
    </div>
</div>
