<h1>Prefrences for Group <%= @group.group_name %></h1>

<%= form_tag("/groups/" + params[:id], method: "put") do %>
    <h3>First project choice</h3>
    <p>Currently <%= choice_str :third_choice %></p>
    <select name="first_choice">
        <% @projects.each do |project| %>
            <option value=<%= project[:id] %>><%= project[:project_name] %></option>
        <% end %>
    </select>
    
    <h3>Second project choice</h3>
    <p>Currently <%= choice_str :second_choice %></p>
    <select name="second_choice">
        <% @projects.each do |project| %>
            <option value=<%= project[:id] %>><%= project[:project_name] %></option>
        <% end %>
    </select>
    
    <h3>Third project choice</h3>
    <p>Currently <%= choice_str :third_choice %></p>
    <select name="third_choice">
        <% @projects.each do |project| %>
            <option value=<%= project[:id] %>><%= project[:project_name] %></option>
        <% end %>
    </select>
    <br>
    <input type="submit" value="submit"/>
<% end %>