<h1>Prefrences for Group <%= @group.group_name %></h1>

<%= form_tag("/groups/" + params[:id], method: "put") do %>
    <h3>First project choice</h3>
    <p>Currently <%= choice_str :first_choice %></p>
    <select name="first_choice">
        <% @projects.each do |project| %>
            <option value=<%= project[:id] %>><%= project[:project_name] %></option>
        <% end %>
    </select>
    
    <h3>Second project choice</h3>
    <p>Currently <%= choice_str :second_choice %></p>
    <select name="second_choice">
        <% @projects.each do |project| %>
            <option value=<%= project[:id] %>><%= project[:project_name] %></option>
        <% end %>
    </select>
    
    <h3>Third project choice</h3>
    <p>Currently <%= choice_str :third_choice %></p>
    <select name="third_choice">
        <% @projects.each do |project| %>
            <option value=<%= project[:id] %>><%= project[:project_name] %></option>
        <% end %>
    </select>
    
    <h3>Fourth project choice</h3>
    <p>Currently <%= choice_str :fourth_choice %></p>
    <select name="fourth_choice">
        <% @projects.each do |project| %>
            <option value=<%= project[:id] %>><%= project[:project_name] %></option>
        <% end %>
    </select>
    
    <h3>Fifth project choice</h3>
    <p>Currently <%= choice_str :fifth_choice %></p>
    <select name="fifth_choice">
        <% @projects.each do |project| %>
            <option value=<%= project[:id] %>><%= project[:project_name] %></option>
        <% end %>
    </select>
    
    <h3>Sixth project choice</h3>
    <p>Currently <%= choice_str :sixth_choice %></p>
    <select name="sixth_choice">
        <% @projects.each do |project| %>
            <option value=<%= project[:id] %>><%= project[:project_name] %></option>
        <% end %>
    </select>
    
    <h3>Seventh project choice</h3>
    <p>Currently <%= choice_str :seventh_choice %></p>
    <select name="seventh_choice">
        <% @projects.each do |project| %>
            <option value=<%= project[:id] %>><%= project[:project_name] %></option>
        <% end %>
    </select>
    <br>
    <input type="submit" value="submit"/>
<% end %>
<br><br>

<%= form_tag("/groups/" + params[:id], method: "DELETE") do %>
    <input type="submit" value="delete group"/>
<% end %>