<%= render "layouts/sidebar.html.erb" %>
<div class="content-container">
    <div class="content">
        <div class="table-container">
            <table id="match_table" class="match-table">
                <tr>
                    <th class="match-header">Group #</th>
                    <th class="match-header">Project Name</th>
                    <% if session[:is_ta] %>
                        <th class="match-header">Preference</th>
                    <% end %>
                </tr>
                
                <% @matches.count.times do |index| %>
                <tr>
                    <td class="group-name"><%= @matches[index].group.group_name %></td>
                    <td class="project-name"><%= @matches[index].project.project_name %></td>
                    <% if session[:is_ta] %>
                        <td class="rank <%=rank_color(@matches[index])%>"><%= choice_num @matches[index] %></td>
                    <% end %>
                </tr>
                <% end %>
            </table> 
        </div>
        
        <% if session[:is_ta] %>
            <div class="action-container">
                <form action="/matches/new" method="get">
                    <input id="Re-Match" type="submit" class="button" value="Re-Match"/>
                </form>
            </div>
        <% end %>
        
        <div class="table_container">
            <table id="unmatched_projects_table" class="match-table">
                <th class="match-header">Unmatched Projects</th>
                <% find_unmatched_projects().each do |project_name| %>
                <tr>
                    <td class="project-name"><%=project_name %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>  
</div>

