<%= render "layouts/sidebar.html.erb" %>
<div class="content-container">
    <div class="content">
        <div class="center">
            <h1>Overall Match Utility: <%= @utility %></h1>
        </div>
        <div class="table-container">
            <table id="match_table" class="match-table">
                <tr>
                    <th class="match-header">Group Name</th>
                    <th class="match-header">Project Name</th>
                    <th class="match-header">Preference</th>
                </tr>
                
                <% @matches.count.times do |index| %>
                <tr>
                    <td class="group-name"><%= @matches[index].group_name %></td>
                    <td class="project-name"><%= @matches[index].project_name %></td>
                    <td class="rank <%=rank_color(@matches[index])%>"><%= choice_num @matches[index] %></td>
                </tr>
                <% end %>
            </table> 
        </div>
        
        <% if session[:is_ta] %>
            <div class="action-container">
                <form action="/matches/new" method="get">
                    <input type="submit" class="button" value="Re-Match"/>
                </form>
            </div>
        <% end %>
    </div>  
</div>

